:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --gray: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM sans', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #312f2f 16.69%, #F7931A 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 39px;
}
.header_title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    align-self: center;
    margin-top: 36px;
}
.header_title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header_title-container p {
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header_title-container .header_button {
    position: absolute;
    top: 270px;
    left: calc(50% - 114.5px);
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Shadow */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}
.header_button span {
    display: inline-block;
    margin-left: 10px;
    background-image: url('https://res.cloudinary.com/dnkddxigy/image/upload/v1608658823/vector_bottom-arrow.svg');
    background-repeat: none;
    background-size: cover;
    background-position: center;
    width: 13px;
    height: 8px;
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange {
    width: 100%;
    height: auto;
    padding-top: 59px;
    text-align: center;
}
.main-exchange__bitcoin-background {
    width: 195px;
    height: 195px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url('https://res.cloudinary.com/dnkddxigy/image/upload/v1608658824/bitcoin.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-exchange__tittle {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange__tittle h2 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
} 
.main-exchange__tittle p {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
}
.main-tables {
    display: flex;
    justify-content: space-between;
    width: 235px;
    margin-left: calc(50% - 98.5px);
    margin-bottom: 64px;
    padding-right: 8px;
}
.main-tables__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
}
.main-tables__content h3 {
    padding: 12px;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FF9536;
}
.main-tables__coins-prices-arrow-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.main-tables__rightarrow {
    width: 7.41px;
    height: 12px;
    align-self: center;
    background-image: url('https://res.cloudinary.com/dnkddxigy/image/upload/v1608771205/right-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-tables__coins-prices-arrow-container .main-tables__coins-prices {
    width: 197px;
    height: 159px;
    margin-top: 12px;
    margin-bottom: 16px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
    grid-template-areas: 
    "bitcoin price1"
    "ethereum price2"
    "ripple price3"
    "stellar price4";
    align-items: center;
    font-family: Inter;
    background-color: var(--just-white);
    border: none;
    border-radius: 8px;
}
.main-tables__coin1 {
    grid-area: bitcoin;
    height: 100%;
    border-bottom: var(--off-white) solid 1.5px;
    border-right: var(--off-white) solid 1.5px;
} 
.main-tables__price1 {
    grid-area: price1;
    height: 100%;
    border-bottom: var(--off-white) solid 1.5px;
}
.main-tables__coin2 {
    grid-area: ethereum;
    height: 100%;
    border-bottom: var(--off-white) solid 1.5px;
    border-right: var(--off-white) solid 1.5px;
} 
.main-tables__price2 {
    grid-area: price2;
    height: 100%;
    border-bottom: var(--off-white) solid 1.5px;
}
.main-tables__coin3 {
    grid-area: ripple;
    height: 100%;
    border-bottom: var(--off-white) solid 1.5px;
    border-right: var(--off-white) solid 1.5px;
} 
.main-tables__price3 {
    grid-area: price3;
    height: 100%;
    border-bottom: var(--off-white) solid 1.5px;
}
.main-tables__coin4 {
    grid-area: stellar;
    height: 100%;
    border-right: var(--off-white) solid 1.5px;
} 
.main-tables__price4 {
    grid-area: price4;
    height: 100%;
}
.main-tables__coin--left-table {
    display: flex;
    align-items: center;
    padding-left: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #B5B0AC;
}
.main-tables__price--right-table {
    display: flex;
    align-items: center; 
    padding-left: 12px;
    text-align: center;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: -0.02em;
    color: #757575;
}
.main-tables__table-update {
    justify-content: center;
    width: 173px;
    background-color: var(--soft-orange);
    border-radius: 8px;
    font-family: Inter;
    font-size: 1.2rem;
    line-height: 3.1rem;
    text-align: center;
    color: var(--warm-black-1);
}
.main-tables__table-update b {
    font-weight: bold;
}
.main-tables__price--right-table span{
    width: 12px;
    height: 12px;
    margin-left: 15px;
    background-image: url('https://res.cloudinary.com/dnkddxigy/image/upload/v1608658825/trending-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-tables__price2 span{
    width: 12px;
    height: 12px;
    margin-left: 15px;
    background-image: url('https://res.cloudinary.com/dnkddxigy/image/upload/v1608658825/trending-up.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-product-detail {
    display: flex;
    flex-direction: column;
    background-color: var(--warm-black);
    height: 893px;
    color: var(--just-white);
}
.main-product-detail__patata-logo {
    position: absolute;
    top: 1111px;
    left: calc(50% - 20.5px);
    width: 41px;
    height: 24px;
    background-image: url('https://res.cloudinary.com/dnkddxigy/image/upload/v1609003573/patata-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-product-detail_title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 288px;
    height: 94px;
    margin: 64px auto 16px auto;
    text-align: center;
}
.main-product-detail_title h2 {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
}
.main-product-detail_title p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #808080;
}
.product-cards {
    display: flex;
    flex-direction: column;
    width: 288px;
    margin: 0 auto;
}
.product-cards article {
    display: flex;
    flex-direction: column;
    height: 152px;
    background-color: var(--warm-black-1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    margin-top: 16px;
    padding: 14px 20px 22px 16px
}
.product-cards span {
    width: 24px;
    height: 24px;
}
.product-cards article p {
    margin-top: 10px;
}
.real-time__icon {
    background-image: url('https://res.cloudinary.com/dnkddxigy/image/upload/v1608658823/clock.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.taxes__icon {
    background-image: url('https://res.cloudinary.com/dnkddxigy/image/upload/v1608658826/eye.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.compare-currencies__icon {
    background-image: url('https://res.cloudinary.com/dnkddxigy/image/upload/v1608658825/dollar-sign.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.reliable-information__icon {
    background-image: url('https://res.cloudinary.com/dnkddxigy/image/upload/v1608658824/check-circle.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-cards__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}
.product-cards__body {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #808080;
}